mixin input({label, placeholder, type="text", name, value})
  div(class="max-w-sm")
  label(
    for=name 
    class="block text-sm font-medium mb-2"
  )
    = label
  input(
    type=type
    name=name
    value=value
    id=`${name}-input` 
    class="py-3 px-4 block w-full border rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" 
    placeholder=placeholder || label
  )

mixin select({label, placeholder, name, id, value})
  label(for=name class="block text-sm font-medium mb-2 dark:text-white")
    =label
  select(
    id=id || name
  class="py-3 px-4 pe-9 block bg-white w-full border rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
  name=name
  )
    option(value="" selected)
      = placeholder || label
    block