mixin segments({tabs})
  div(class="flex py-6")
    div(class="flex bg-gray-100 hover:bg-gray-200 rounded-lg transition p-1 dark:bg-neutral-700 dark:hover:bg-neutral-600")
      nav(class="flex gap-x-1" aria-label="Tabs" role="tablist" aria-orientation="horizontal")
        each tab, index in tabs
          button(
            type="button"
            class=[
              'hs-tab-active:bg-white',
              'hs-tab-active:text-black',
              'py-3',
              'px-4',
              'inline-flex',
              'items-center',
              'gap-x-2',
              'bg-transparent',
              'text-sm',
              'text-white',
              'hover:text-gray-700',
              'focus:outline-none',
              'focus:text-gray-700',
              'font-medium',
              'rounded-lg',
              'hover:hover:text-blue-600',
              'disabled:opacity-50',
              'disabled:pointer-events-none',
              index == 0 ? 'active' : null
            ].join(' ')
            id=`${tab.id}-tab`
            aria-selected=`${index == 0}`
            data-hs-tab=`#${tab.id}-segment`
            aria-controls=`${tab.id}-segment`
            role="tab"
          )
            = tab.title