mixin tableBody(columns, rows, actions)
  if columns.some( (col) => col.editable)
    include ../inputs
  tbody(class="divide-y divide-gray-200")
    if rows && rows.length
      - let tabIndex = 1
      each row, rowIndex in rows
        tr
          each col, colIndex in columns
            td(class=[`px-6 py-2 text-sm print:text-xs font-medium text-gray-800`, row.class, col.truncated ? undefined : "whitespace-nowrap"].join(' '))
              if col.truncated
                div(class="hs-tooltip inline-block")
                  button(type="button" class="hs-tooltip-toggle")
                    span(class="truncate text-black" data-truncatelength=col.truncateLength)
                      != row[col.selector]
                    span(
                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-300 text-xs font-medium text-white rounded shadow-sm max-w-xs"
                      role="tooltip"
                    )
                      != row[col.selector]
              else if col.editable
                +input({class:"text-black", size: col.inputSize, value: row[col.selector], name:col.selector, data: {rowId: row.id}, tabIndex: tabIndex})
                - tabIndex++
              else
                span.text-black
                  = row[col.selector]
          if actions
            td(class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-800")
              each action in actions
                if action.method === 'POST'
                  form(action=action.link, method="POST", class="inline")
                    - const data = JSON.parse(row[action.dataSelector] || '{}')
                    each entry in Object.entries(data)
                      input(type="hidden", name=entry[0], value=entry[1])
                    button(type="submit", class=`${action.class} flex px-2 py-1 gap-2 rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:underline focus:outline-none focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none`)
                      = action.name
                      svg(class="shrink-0 size-4 self-center" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="m9 18 6-6-6-6")
                else if action.method === 'DELETE'
                    a(href=`${action.link}/${row[action.dataSelector]}` class=`${action.class} flex px-2 gap-2 py-1 rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:underline focus:outline-none focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none` data-method="delete")
                      = action.name
                      svg(class="shrink-0 size-4 self-center" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="m9 18 6-6-6-6")
                else
                  a(href=`${action.link}/${row[action.dataSelector] || null}`, class=`${action.class} flex gap-2 px-2 py-1 rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:underline focus:outline-none focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none`)
                    = action.name
                    svg(class="shrink-0 size-4 self-center" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      path(d="m9 18 6-6-6-6")
    else
      tr.empty-row
        td(colspan=columns.length + (actions ? 1 : 0), class="px-6 py-4 whitespace-nowrap text-lg font-medium text-black text-center")
          | No data found